.task {
  padding: 8px 12px;
  border: 1px solid #c3c3c3;
  border-radius: 8px;
}

.task-title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  max-width: 70%;
}

.task-status {
  display: flex;
}

.task-status-tag {
  border-radius: 3px;
  font-weight: 800;
  padding: 4px 8px;
  margin: 0;
  margin-right: 12px;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: darkslategray;
}
.task.created .task-status-tag {
  background-color: #C490D1;
  border-color: transparent;
  color: #fff;
}
.task.done .task-status-tag {
  background-color: #50723C;
  color: #fff;
  border-color: transparent;
}
.task.started .task-status-tag {
  background-color: #A0D2DB;
  color: darkslategray;
  border-color: transparent;
}
.task.paused .task-status-tag {
  background-color: #7D8CC4;
  border-color: transparent;
  color: #fff;
}

.tasks-list {
  margin-top: 40px;
}
.task-complete {
  margin-right: 12px;
}

/* subtasks */
.task-subtasks-item {
  font-size: 14px;
}
.task-subtasks-item.done  {
  text-decoration: line-through;
}
.task-subtasks-item input {
  margin-right: 12px;
}